.next
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
apps/ui/**/*.gif
apps/ui/**/*.jpg
apps/ui/**/*.png
apps/ui/**/*.svg
apps/ui/**/*.ttf
apps/ui/README.md
apps/ui/public
apps/ui/src/ui/Svg
build
coverage
dist
node_modules
out
